@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;800;1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.section{
    padding-bottom: 50px;
}
.header {
    padding: 20px 25px;
    background-color: #4070fa;
    margin: 10px;
    border-radius: 35px;
}
.select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
}
select option {
    background-color: #4070fa;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 3px;
}
select option:checked {
    background-color: #000;
    color: #fff;
}
.exchange i {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.container {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    /* box-shadow: 0 1px 4px rgba(146,161,176,.15); */
    overflow: hidden;
}
.container .area:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.container .area:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
.border {
    background-color: #9f9f9f;
    height: .5px;
    width: 100%;
    border-radius: 5px;
}
.area textarea {
    width: 100%;
    height: 220px;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.area .icons {
    position: absolute;
    bottom: 10px;
    right: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.area .icons i {
    color: #9f9f9f;
    transition: 0.4s all;
    cursor: pointer;
}
.area .icons i:hover {
    color: #292525;
}
.copyright p {
    text-align: center;
    padding: 20px;
    color: #9f9f9f;
}

@media screen and (min-width: 991px) {
    .select-container {
        justify-content: center;
        column-gap: 5rem;
    }
    .container {
        flex-direction: row;
        column-gap: 15px;
    }
    .container .area:first-child {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
    }
    .container .area:last-child {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
    }
    .border {
        display: none;
    }
}